.expected-area {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  z-index: 1000;
  padding: 0px 16px 16px 16px;
}

.expected-area-title {
  color: #5f6368;
  font: 14px "Google Sans";
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 0px;
}

.google-meet-attendace-tracker-name {
  font: 14px "Google Sans";
  margin-bottom: 0px;
  color: grey;
  transition: 0.3s;
}
